.categoryButton {
  width: 100%;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
}

.categoryButtonLabel {
  flex: 1;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
